.footer {
  background-color: white;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}

.footer-wrap p {
  font-size: 18px;
}

.bottom-logo img {
  width: 90px;
  height: 90px;
}
