.section-first,
.section-fourth {
  background-image: url(../assets/images/pastel_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box strong {
  font-size: 40px;
  text-align: center;
}

.text-box p {
  font-size: 20px;
  margin-top: 50px;
}

.kakao-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.kakao-btn {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  background-color: rgb(245, 225, 75);
  color: rgb(55, 30, 29);
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
}

.kakao-btn:hover {
  background-color: white;
}

.kakao-btn img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.town {
  display: flex;
  justify-content: center;
}

.town img {
  width: 500px;
  height: 400px;
}

.section-second {
  padding: 50px 0;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text h2 {
  font-size: 32px;
}

.title-text p {
  margin-top: 10px;
  font-size: 20px;
}

.slideshow {
  display: flex;
  margin-top: 100px;
}

.section-third {
  padding: 100px 0;
}

.first-div,
.second-div,
.third-div {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transition: opacity 1s, transform 0.5s ease-in-out;
  transform: translateY(20px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
}

.second-div {
  margin: 140px 0;
}

.third-div {
  margin-bottom: 50px;
}

.img-box {
  display: flex;
  justify-content: center;
  width: 50%;
}

.img-box img {
  max-width: 90%;
}

.intro-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-box span,
h3,
p {
  text-align: center;
  line-height: 1.4;
}

.intro-box span {
  font-size: 24px;
  font-weight: bold;
  color: rgb(110, 75, 236);
}

.intro-box h3 {
  margin: 20px;
  font-size: 46px;
}

.intro-box p {
  font-size: 18px;
  font-weight: bold;
}

.section-fourth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.fourth-text-box {
  line-height: 1.2;
}

.fourth-text-box h1 {
  font-size: 30px;
}

.fourth-text-box p {
  font-size: 22px;
}

.instagram-btn {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  background-image: url(../assets/images/insta_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
}

.instagram-btn:hover {
  color: black;
}

.instagram-btn img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
