.roomModal-wrap {
  padding: 10px 20px;
}

.roomModal-wrap h2 {
  margin-bottom: 20px;
}

.roomModal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.roomModal-form p {
  margin-top: 10px;
}

.roomModal-form input {
  width: 50%;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}
