.Modal {
  width: 50%;
  height: 500px;
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  justify-content: center;
  overflow: auto;
}

.uploadModal-wrap {
  padding: 10px 20px;
}

.uploadModal-wrap h2 {
  margin-bottom: 20px;
}

.upload-img {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 20px;
  width: 400px;
  height: 300px;
}

.upload-img img {
  max-width: 100%;
  max-height: 100%;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
}

.input-wrap input {
  margin: 4px 0;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
}

.btn-wrap button {
  padding: 4px 8px;
  margin: 0 2px;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

@media (max-width: 800px) {
  .Modal {
    width: 70%;
    top: 40%;
  }

  .upload-img {
    width: 230px;
    height: 230px;
  }
}
